<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="text-center">
  <form method="post" action="/registrati">
    <label>
      <input name="username" placeholder="username"><br/>
      <input name="password" type="password" placeholder="password"><br/>
      <button class="btn btn-primary mt-2 ms-2"
              type="submit"
              onclick="myFunction()">REGISTRATI
      </button>
      <script>
        function myFunction() {
          alert("HAI EFETTUATO LA REGISTRAZIONE");
        }
      </script>
    </label>
  </form>
</div>
</body>
</html>